{% extends "navbar.html"%}
    
{% block content %}
<title>Vista de Productos</title>
<style>
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
}
</style>

<h1>Ingresos de Producto por Semanas</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio producto</th>
            <th scope="col">Cantidad ingresada</th>
            <th scope="col">Fecha ingreso</th>
        </tr>
    </thead>

{% for ingreso in object_list %}
<tr>
   <td><strong>{{ ingreso.producto.nombre_producto }}</strong></td>
    <td>{{ ingreso.producto.precio_unidad }}</td>
        <td>{{ ingreso.cantidad_ingresada}}</td>
  <td>{{ ingreso.fecha_ingreso}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
