{% extends "navbar.html"%}

{% block content %}
<body>

    <title>Vista de tipo {{ tipo_producto }}</title>


    <style>
    td,
    th {
        border: 1px solid rgb(190, 190, 190);
        padding: 10px;
    }
    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
    }
    </style>    

    <h1>Vista de productos de tipo: {{ tipo_producto }}</h1>
    <table>
    <tr><th>producto</th><th>tipo producto</th><th>precio unidad</th><th>fecha creacicon</th></tr>
    {% for p in productos %}
    <tr>
        <td> {{ p.nombre_producto }}</td>
        <td> {{ p.tipo_producto }}</td>
        <td> {{ p.precio_unidad }}</td>
        <td> {{ p.created_at }}</td>

    </tr>
{% endfor %}

</table>
</body>
{% endblock %}